<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.recommend_system.job.dao.JobMapper" >
  <resultMap id="BaseResultMap" type="com.recommend_system.job.entity.Job" >
    <id column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="salary_min" property="salaryMin" jdbcType="INTEGER" />
    <result column="salary_max" property="salaryMax" jdbcType="INTEGER" />
    <result column="education" property="education" jdbcType="INTEGER" />
    <result column="workplace" property="workplace" jdbcType="VARCHAR" />
    <result column="workexperience_min" property="workexperienceMin" jdbcType="INTEGER" />
    <result column="workexperience_max" property="workexperienceMax" jdbcType="INTEGER" />
    <result column="need_num" property="needNum" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="DATE" />
    <result column="job_nature" property="jobNature" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="welfare" property="welfare" jdbcType="VARCHAR" />
    <result column="workcity" property="workcity" jdbcType="VARCHAR" />
    <result column="age_min" property="ageMin" jdbcType="VARCHAR" />
    <result column="age_max" property="ageMax" jdbcType="VARCHAR" />
    <result column="need_gender" property="needGender" jdbcType="INTEGER" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.recommend_system.job.entity.Job" extends="BaseResultMap" >
    <result column="specification" property="specification" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    job_id, job_name, salary_min, salary_max, education, workplace, workexperience_min, 
    workexperience_max, need_num, ctime, job_nature, company_id, welfare, workcity, age_min, 
    age_max, need_gender, language, tag
  </sql>
  <sql id="Blob_Column_List" >
    specification
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.recommend_system.job.entity.JobExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.recommend_system.job.entity.JobExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_job
    where job_id = #{jobId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_job
    where job_id = #{jobId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.recommend_system.job.entity.JobExample" >
    delete from t_job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.recommend_system.job.entity.Job" >
    insert into t_job (job_id, job_name, salary_min, 
      salary_max, education, workplace, 
      workexperience_min, workexperience_max, need_num, 
      ctime, job_nature, company_id, 
      welfare, workcity, age_min, 
      age_max, need_gender, language, 
      tag, specification)
    values (#{jobId,jdbcType=INTEGER}, #{jobName,jdbcType=VARCHAR}, #{salaryMin,jdbcType=INTEGER}, 
      #{salaryMax,jdbcType=INTEGER}, #{education,jdbcType=INTEGER}, #{workplace,jdbcType=VARCHAR}, 
      #{workexperienceMin,jdbcType=INTEGER}, #{workexperienceMax,jdbcType=INTEGER}, #{needNum,jdbcType=INTEGER}, 
      #{ctime,jdbcType=DATE}, #{jobNature,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, 
      #{welfare,jdbcType=VARCHAR}, #{workcity,jdbcType=VARCHAR}, #{ageMin,jdbcType=VARCHAR}, 
      #{ageMax,jdbcType=VARCHAR}, #{needGender,jdbcType=INTEGER}, #{language,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{specification,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.recommend_system.job.entity.Job" >
    insert into t_job
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="salaryMin != null" >
        salary_min,
      </if>
      <if test="salaryMax != null" >
        salary_max,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="workplace != null" >
        workplace,
      </if>
      <if test="workexperienceMin != null" >
        workexperience_min,
      </if>
      <if test="workexperienceMax != null" >
        workexperience_max,
      </if>
      <if test="needNum != null" >
        need_num,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="jobNature != null" >
        job_nature,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="welfare != null" >
        welfare,
      </if>
      <if test="workcity != null" >
        workcity,
      </if>
      <if test="ageMin != null" >
        age_min,
      </if>
      <if test="ageMax != null" >
        age_max,
      </if>
      <if test="needGender != null" >
        need_gender,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="specification != null" >
        specification,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="salaryMin != null" >
        #{salaryMin,jdbcType=INTEGER},
      </if>
      <if test="salaryMax != null" >
        #{salaryMax,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        #{education,jdbcType=INTEGER},
      </if>
      <if test="workplace != null" >
        #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="workexperienceMin != null" >
        #{workexperienceMin,jdbcType=INTEGER},
      </if>
      <if test="workexperienceMax != null" >
        #{workexperienceMax,jdbcType=INTEGER},
      </if>
      <if test="needNum != null" >
        #{needNum,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=DATE},
      </if>
      <if test="jobNature != null" >
        #{jobNature,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="welfare != null" >
        #{welfare,jdbcType=VARCHAR},
      </if>
      <if test="workcity != null" >
        #{workcity,jdbcType=VARCHAR},
      </if>
      <if test="ageMin != null" >
        #{ageMin,jdbcType=VARCHAR},
      </if>
      <if test="ageMax != null" >
        #{ageMax,jdbcType=VARCHAR},
      </if>
      <if test="needGender != null" >
        #{needGender,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.recommend_system.job.entity.JobExample" resultType="java.lang.Integer" >
    select count(*) from t_job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_job
    <set >
      <if test="record.jobId != null" >
        job_id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.jobName != null" >
        job_name = #{record.jobName,jdbcType=VARCHAR},
      </if>
      <if test="record.salaryMin != null" >
        salary_min = #{record.salaryMin,jdbcType=INTEGER},
      </if>
      <if test="record.salaryMax != null" >
        salary_max = #{record.salaryMax,jdbcType=INTEGER},
      </if>
      <if test="record.education != null" >
        education = #{record.education,jdbcType=INTEGER},
      </if>
      <if test="record.workplace != null" >
        workplace = #{record.workplace,jdbcType=VARCHAR},
      </if>
      <if test="record.workexperienceMin != null" >
        workexperience_min = #{record.workexperienceMin,jdbcType=INTEGER},
      </if>
      <if test="record.workexperienceMax != null" >
        workexperience_max = #{record.workexperienceMax,jdbcType=INTEGER},
      </if>
      <if test="record.needNum != null" >
        need_num = #{record.needNum,jdbcType=INTEGER},
      </if>
      <if test="record.ctime != null" >
        ctime = #{record.ctime,jdbcType=DATE},
      </if>
      <if test="record.jobNature != null" >
        job_nature = #{record.jobNature,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.welfare != null" >
        welfare = #{record.welfare,jdbcType=VARCHAR},
      </if>
      <if test="record.workcity != null" >
        workcity = #{record.workcity,jdbcType=VARCHAR},
      </if>
      <if test="record.ageMin != null" >
        age_min = #{record.ageMin,jdbcType=VARCHAR},
      </if>
      <if test="record.ageMax != null" >
        age_max = #{record.ageMax,jdbcType=VARCHAR},
      </if>
      <if test="record.needGender != null" >
        need_gender = #{record.needGender,jdbcType=INTEGER},
      </if>
      <if test="record.language != null" >
        language = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.specification != null" >
        specification = #{record.specification,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_job
    set job_id = #{record.jobId,jdbcType=INTEGER},
      job_name = #{record.jobName,jdbcType=VARCHAR},
      salary_min = #{record.salaryMin,jdbcType=INTEGER},
      salary_max = #{record.salaryMax,jdbcType=INTEGER},
      education = #{record.education,jdbcType=INTEGER},
      workplace = #{record.workplace,jdbcType=VARCHAR},
      workexperience_min = #{record.workexperienceMin,jdbcType=INTEGER},
      workexperience_max = #{record.workexperienceMax,jdbcType=INTEGER},
      need_num = #{record.needNum,jdbcType=INTEGER},
      ctime = #{record.ctime,jdbcType=DATE},
      job_nature = #{record.jobNature,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=INTEGER},
      welfare = #{record.welfare,jdbcType=VARCHAR},
      workcity = #{record.workcity,jdbcType=VARCHAR},
      age_min = #{record.ageMin,jdbcType=VARCHAR},
      age_max = #{record.ageMax,jdbcType=VARCHAR},
      need_gender = #{record.needGender,jdbcType=INTEGER},
      language = #{record.language,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      specification = #{record.specification,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_job
    set job_id = #{record.jobId,jdbcType=INTEGER},
      job_name = #{record.jobName,jdbcType=VARCHAR},
      salary_min = #{record.salaryMin,jdbcType=INTEGER},
      salary_max = #{record.salaryMax,jdbcType=INTEGER},
      education = #{record.education,jdbcType=INTEGER},
      workplace = #{record.workplace,jdbcType=VARCHAR},
      workexperience_min = #{record.workexperienceMin,jdbcType=INTEGER},
      workexperience_max = #{record.workexperienceMax,jdbcType=INTEGER},
      need_num = #{record.needNum,jdbcType=INTEGER},
      ctime = #{record.ctime,jdbcType=DATE},
      job_nature = #{record.jobNature,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=INTEGER},
      welfare = #{record.welfare,jdbcType=VARCHAR},
      workcity = #{record.workcity,jdbcType=VARCHAR},
      age_min = #{record.ageMin,jdbcType=VARCHAR},
      age_max = #{record.ageMax,jdbcType=VARCHAR},
      need_gender = #{record.needGender,jdbcType=INTEGER},
      language = #{record.language,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.recommend_system.job.entity.Job" >
    update t_job
    <set >
      <if test="jobName != null" >
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="salaryMin != null" >
        salary_min = #{salaryMin,jdbcType=INTEGER},
      </if>
      <if test="salaryMax != null" >
        salary_max = #{salaryMax,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=INTEGER},
      </if>
      <if test="workplace != null" >
        workplace = #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="workexperienceMin != null" >
        workexperience_min = #{workexperienceMin,jdbcType=INTEGER},
      </if>
      <if test="workexperienceMax != null" >
        workexperience_max = #{workexperienceMax,jdbcType=INTEGER},
      </if>
      <if test="needNum != null" >
        need_num = #{needNum,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=DATE},
      </if>
      <if test="jobNature != null" >
        job_nature = #{jobNature,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="welfare != null" >
        welfare = #{welfare,jdbcType=VARCHAR},
      </if>
      <if test="workcity != null" >
        workcity = #{workcity,jdbcType=VARCHAR},
      </if>
      <if test="ageMin != null" >
        age_min = #{ageMin,jdbcType=VARCHAR},
      </if>
      <if test="ageMax != null" >
        age_max = #{ageMax,jdbcType=VARCHAR},
      </if>
      <if test="needGender != null" >
        need_gender = #{needGender,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.recommend_system.job.entity.Job" >
    update t_job
    set job_name = #{jobName,jdbcType=VARCHAR},
      salary_min = #{salaryMin,jdbcType=INTEGER},
      salary_max = #{salaryMax,jdbcType=INTEGER},
      education = #{education,jdbcType=INTEGER},
      workplace = #{workplace,jdbcType=VARCHAR},
      workexperience_min = #{workexperienceMin,jdbcType=INTEGER},
      workexperience_max = #{workexperienceMax,jdbcType=INTEGER},
      need_num = #{needNum,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=DATE},
      job_nature = #{jobNature,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      welfare = #{welfare,jdbcType=VARCHAR},
      workcity = #{workcity,jdbcType=VARCHAR},
      age_min = #{ageMin,jdbcType=VARCHAR},
      age_max = #{ageMax,jdbcType=VARCHAR},
      need_gender = #{needGender,jdbcType=INTEGER},
      language = #{language,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=LONGVARCHAR}
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recommend_system.job.entity.Job" >
    update t_job
    set job_name = #{jobName,jdbcType=VARCHAR},
      salary_min = #{salaryMin,jdbcType=INTEGER},
      salary_max = #{salaryMax,jdbcType=INTEGER},
      education = #{education,jdbcType=INTEGER},
      workplace = #{workplace,jdbcType=VARCHAR},
      workexperience_min = #{workexperienceMin,jdbcType=INTEGER},
      workexperience_max = #{workexperienceMax,jdbcType=INTEGER},
      need_num = #{needNum,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=DATE},
      job_nature = #{jobNature,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      welfare = #{welfare,jdbcType=VARCHAR},
      workcity = #{workcity,jdbcType=VARCHAR},
      age_min = #{ageMin,jdbcType=VARCHAR},
      age_max = #{ageMax,jdbcType=VARCHAR},
      need_gender = #{needGender,jdbcType=INTEGER},
      language = #{language,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR}
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
</mapper>